@import 'tailwindcss';

/* Temporary disabled light mode
/*:root {*/
/*  !* Background colors - Light mode *!*/
/*  --background-100: #ffffff;*/
/*  --background-200: #fafafa;*/

/*  !* Gray colors - Light mode *!*/
/*  --gray-100: #f2f2f2;*/
/*  --gray-200: #ebebeb;*/
/*  --gray-300: #e6e6e6;*/
/*  --gray-400: #ebebeb;*/
/*  --gray-500: #c9c9c9;*/
/*  --gray-600: #a8a8a8;*/
/*  --gray-700: #8f8f8f;*/
/*  --gray-800: #7d7d7d;*/
/*  --gray-900: #666666;*/
/*  --gray-1000: #171717;*/

/*  !* Gray alpha colors - Light mode *!*/
/*  --gray-alpha-100: #ededed;*/
/*  --gray-alpha-200: #e6e6e6;*/
/*  --gray-alpha-300: #e0e0e0;*/
/*  --gray-alpha-400: #e6e6e6;*/
/*  --gray-alpha-500: #c5c5c5;*/
/*  --gray-alpha-600: #a5a5a5;*/
/*  --gray-alpha-700: #8c8c8c;*/
/*  --gray-alpha-800: #7b7b7b;*/
/*  --gray-alpha-900: #616161;*/
/*  --gray-alpha-1000: #171717;*/

/*  !* Blue colors - Light mode *!*/
/*  --blue-100: #e2efff;*/
/*  --blue-200: #d0e6ff;*/
/*  --blue-300: #a0cbff;*/
/*  --blue-400: #65acff;*/
/*  --blue-500: #1a69ff;*/
/*  --blue-600: #0157e4;*/
/*  --blue-700: #005ee9;*/
/*  --blue-800: #002255;*/
/*  --blue-900: #0b2145;*/
/*  --blue-1000: #0b1938;*/

/*  !* Red colors - Light mode *!*/
/*  --red-100: #ffeeef;*/
/*  --red-200: #ffe9ea;*/
/*  --red-300: #ffe4e5;*/
/*  --red-400: #fad9d7;*/
/*  --red-500: #fbb5b5;*/
/*  --red-600: #ef7171;*/
/*  --red-700: #e7323f;*/
/*  --red-800: #d6222b;*/
/*  --red-900: #c62128;*/
/*  --red-1000: #40040e;*/

/*  !* Amber colors - Light mode *!*/
/*  --amber-100: #fff6de;*/
/*  --amber-200: #fff4cf;*/
/*  --amber-300: #fff1c1;*/
/*  --amber-400: #ffdc73;*/
/*  --amber-500: #ffc543;*/
/*  --amber-600: #ffa600;*/
/*  --amber-700: #ffae00;*/
/*  --amber-800: #ff9300;*/
/*  --amber-900: #aa4d00;*/
/*  --amber-1000: #561900;*/

/*  !* Green colors - Light mode *!*/
/*  --green-100: #ecfdec;*/
/*  --green-200: #e5fce7;*/
/*  --green-300: #d3fad1;*/
/*  --green-400: #b9f5bc;*/
/*  --green-500: #82eb8d;*/
/*  --green-600: #4ce15e;*/
/*  --green-700: #28a948;*/
/*  --green-800: #279141;*/
/*  --green-900: #107d32;*/
/*  --green-1000: #003a00;*/

/*  !* Teal colors - Light mode *!*/
/*  --teal-100: #defffb;*/
/*  --teal-200: #ddfef6;*/
/*  --teal-300: #ccf9f1;*/
/*  --teal-400: #b1f7ec;*/
/*  --teal-500: #52f0db;*/
/*  --teal-600: #00e3c4;*/
/*  --teal-700: #00ac96;*/
/*  --teal-800: #00927f;*/
/*  --teal-900: #007f70;*/
/*  --teal-1000: #003f34;*/

/*  !* Purple colors - Light mode *!*/
/*  --purple-100: #faf0ff;*/
/*  --purple-200: #f9f0ff;*/
/*  --purple-300: #f6e8ff;*/
/*  --purple-400: #f2d9ff;*/
/*  --purple-500: #dfa7ff;*/
/*  --purple-600: #c979ff;*/
/*  --purple-700: #a000f8;*/
/*  --purple-800: #8500d1;*/
/*  --purple-900: #7d00cc;*/
/*  --purple-1000: #2f004e;*/

/*  !* Pink colors - Light mode *!*/
/*  --pink-100: #ffe8f6;*/
/*  --pink-200: #ffe8f3;*/
/*  --pink-300: #ffdfeb;*/
/*  --pink-400: #ffd3e1;*/
/*  --pink-500: #fdb3cc;*/
/*  --pink-600: #f97ea7;*/
/*  --pink-700: #f22782;*/
/*  --pink-800: #e4106e;*/
/*  --pink-900: #c41562;*/
/*  --pink-1000: #460523;*/
/*}*/

:root {
  /* Background colors - Dark mode */
  --background-100: #0a0a0a;
  --background-200: #000000;

  /* Gray colors - Dark mode */
  --gray-100: #1a1a1a;
  --gray-200: #1f1f1f;
  --gray-300: #292929;
  --gray-400: #2e2e2e;
  --gray-500: #454545;
  --gray-600: #878787;
  --gray-700: #8f8f8f;
  --gray-800: #7d7d7d;
  --gray-900: #a1a1a1;
  --gray-1000: #ededed;

  /* Gray alpha colors - Dark mode */
  --gray-alpha-100: #0f0f0f;
  --gray-alpha-200: #171717;
  --gray-alpha-300: #212121;
  --gray-alpha-400: #242424;
  --gray-alpha-500: #3d3d3d;
  --gray-alpha-600: #828282;
  --gray-alpha-700: #8a8a8a;
  --gray-alpha-800: #787878;
  --gray-alpha-900: #9c9c9c;
  --gray-alpha-1000: #ebebeb;

  /* Blue colors - Dark mode */
  --blue-100: #06193a;
  --blue-200: #022248;
  --blue-300: #102e5e;
  --blue-400: #0e3570;
  --blue-500: #104087;
  --blue-600: #3c8dfa;
  --blue-700: #276df5;
  --blue-800: #0c59df;
  --blue-900: #62a6ff;
  --blue-1000: #edf6ff;

  /* Red colors - Dark mode */
  --red-100: #2e0d11;
  --red-200: #3e1114;
  --red-300: #55161a;
  --red-400: #651a1f;
  --red-500: #651a1f;
  --red-600: #df4348;
  --red-700: #de4649;
  --red-800: #cf3334;
  --red-900: #f56464;
  --red-1000: #ffeaed;

  /* Amber colors - Dark mode */
  --amber-100: #2a1700;
  --amber-200: #361900;
  --amber-300: #502800;
  --amber-400: #5b3000;
  --amber-500: #703e00;
  --amber-600: #ed9a00;
  --amber-700: #ffae00;
  --amber-800: #ff9300;
  --amber-900: #ff9300;
  --amber-1000: #fff3d5;

  /* Green colors - Dark mode */
  --green-100: #002608;
  --green-200: #00320b;
  --green-300: #003a0e;
  --green-400: #004615;
  --green-500: #006717;
  --green-600: #00952d;
  --green-700: #00ac3a;
  --green-800: #009432;
  --green-900: #00ca50;
  --green-1000: #d8ffe4;

  /* Teal colors - Dark mode */
  --teal-100: #00231b;
  --teal-200: #002b22;
  --teal-300: #003d34;
  --teal-400: #004035;
  --teal-500: #006354;
  --teal-600: #009e86;
  --teal-700: #00aa95;
  --teal-800: #00927f;
  --teal-900: #00cfb7;
  --teal-1000: #cbfff5;

  /* Purple colors - Dark mode */
  --purple-100: #290c33;
  --purple-200: #341142;
  --purple-300: #47185e;
  --purple-400: #541a76;
  --purple-500: #642290;
  --purple-600: #9440d5;
  --purple-700: #9440d5;
  --purple-800: #7d2bba;
  --purple-900: #c472fb;
  --purple-1000: #fbecff;

  /* Pink colors - Dark mode */
  --pink-100: #310d1e;
  --pink-200: #420c25;
  --pink-300: #571032;
  --pink-400: #5d0c34;
  --pink-500: #76063f;
  --pink-600: #ba0056;
  --pink-700: #f12b82;
  --pink-800: #e7006d;
  --pink-900: #ff4d8d;
  --pink-1000: #ffe9f4;
}

@theme inline {
  /* Background colors */
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);

  /* Gray colors */
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-1000: var(--gray-1000);

  /* Gray alpha colors */
  --color-gray-alpha-100: var(--gray-alpha-100);
  --color-gray-alpha-200: var(--gray-alpha-200);
  --color-gray-alpha-300: var(--gray-alpha-300);
  --color-gray-alpha-400: var(--gray-alpha-400);
  --color-gray-alpha-500: var(--gray-alpha-500);
  --color-gray-alpha-600: var(--gray-alpha-600);
  --color-gray-alpha-700: var(--gray-alpha-700);
  --color-gray-alpha-800: var(--gray-alpha-800);
  --color-gray-alpha-900: var(--gray-alpha-900);
  --color-gray-alpha-1000: var(--gray-alpha-1000);

  /* Blue colors */
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-1000: var(--blue-1000);

  /* Red colors */
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-1000: var(--red-1000);

  /* Amber colors */
  --color-amber-100: var(--amber-100);
  --color-amber-200: var(--amber-200);
  --color-amber-300: var(--amber-300);
  --color-amber-400: var(--amber-400);
  --color-amber-500: var(--amber-500);
  --color-amber-600: var(--amber-600);
  --color-amber-700: var(--amber-700);
  --color-amber-800: var(--amber-800);
  --color-amber-900: var(--amber-900);
  --color-amber-1000: var(--amber-1000);

  /* Green colors */
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-1000: var(--green-1000);

  /* Teal colors */
  --color-teal-100: var(--teal-100);
  --color-teal-200: var(--teal-200);
  --color-teal-300: var(--teal-300);
  --color-teal-400: var(--teal-400);
  --color-teal-500: var(--teal-500);
  --color-teal-600: var(--teal-600);
  --color-teal-700: var(--teal-700);
  --color-teal-800: var(--teal-800);
  --color-teal-900: var(--teal-900);
  --color-teal-1000: var(--teal-1000);

  /* Purple colors */
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-1000: var(--purple-1000);

  /* Pink colors */
  --color-pink-100: var(--pink-100);
  --color-pink-200: var(--pink-200);
  --color-pink-300: var(--pink-300);
  --color-pink-400: var(--pink-400);
  --color-pink-500: var(--pink-500);
  --color-pink-600: var(--pink-600);
  --color-pink-700: var(--pink-700);
  --color-pink-800: var(--pink-800);
  --color-pink-900: var(--pink-900);
  --color-pink-1000: var(--pink-1000);
}

html {
  font-size: 16px;
}

body {
  color: var(--gray-1000);
  background: var(--background-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  /* Heading styles */
  .typo-heading-72 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: -0.27rem;
    font-weight: 600;
  }

  .typo-heading-64 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.24rem;
    font-weight: 600;
  }

  .typo-heading-56 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.21rem;
    font-weight: 600;
  }

  .typo-heading-48 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.18rem;
    font-weight: 600;
  }

  .typo-heading-40 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.15rem;
    font-weight: 600;
  }

  .typo-heading-32 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.08rem;
    font-weight: 600;
  }

  .typo-heading-24 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
  }

  .typo-heading-20 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: -0.025rem;
    font-weight: 600;
  }

  .typo-heading-16 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
    font-weight: 600;
  }

  .typo-heading-14 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.0175rem;
    font-weight: 600;
  }

  /* Copy styles */
  .typo-copy-24 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 400;
  }

  .typo-copy-20 {
    font-size: 1.25rem;
    line-height: 2.25rem;
    font-weight: 400;
  }

  .typo-copy-18 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
  }

  .typo-copy-16 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .typo-copy-14 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  /* Label utilities */
  .typo-label-20 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
  }

  .typo-label-18 {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .typo-label-16 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .typo-label-14 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .typo-label-12 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
  }

  .typo-label-10 {
    font-size: 0.625rem;
    line-height: 0.875rem;
    font-weight: 400;
  }

  /* Button styles */
  .typo-button-16 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  .typo-button-14 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  .typo-button-12 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
  }

  /* Focus utilities */
  .focus-ring {
    @apply focus-visible:ring-offset-background-100 focus-visible:ring-2 focus-visible:ring-blue-600 focus-visible:ring-offset-2 focus-visible:outline-none;
  }
}
